/* Typewriting */ 

@keyframes typing {
  from { width: 100% }
  to { width: 0% }
}

@keyframes white-caret {
  0%, 1% {border-right-color: transparent;}
  2%, 100% {border-right-color: white;}
}

@keyframes blue-caret {
  0%, 1% {border-right-color: transparent;}
  2%, 100% {border-right-color: darkblue;}
}

@keyframes blink {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* push-button */

@keyframes capsule-pushed {
  0%, 100% {top:0%;}
  50% {top: 7%;}
}

@keyframes radar-pushed {
  0%, 100% {top:5%;}
  50% {top: 10%;}
}

/* Explosion */ 

@keyframes growth {
  0% {
    width: 30%;
    height: 30%;
    font-size: 0rem;
  }
  100% {
    width: 75%;
    height: 75%;
    font-size: 8rem;
  }
}

/* Smoke */

@keyframes smoking {
  60% {
    width: 110%;
    height: 110%;
  }
  60% {
    width: 130%;
    height: 130%;
  }
  100% {
    width: 0%;
    height: 0%;
  }
}