.note {
    @apply relative mx-auto font-mono w-fit;
}

.mask {
    @apply absolute right-0 w-full;
}

.radar-screen {
    background-size: 20px 20px;
    background-image:
    linear-gradient(to right, black 1px, transparent 1px, transparent 19px, black 19px),
    linear-gradient(to bottom, black 1px, transparent 1px, transparent 19px, black 19px)
}

.position-mark {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.explosion__particle {
    background-image: radial-gradient(yellow 10%, orange 50%, red 80%);
}